.HOME {
 text-align: center;}
.table{
    width: 300px;height: 25px;
    border-style: double;
    border-radius: 6px;
    border-color: black;
    border-width: 3px;
    
}
.header{
    background-color: yellow;
    text-align: center;
}
.data{
    background-color: pink;
    text-align: center;
}
.box{
border: 10px;
}

#arial{
font-family: Arial, Helvetica, sans-serif;

}
#courier{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
#oursiva{
    font-family: cursive;
}
.img{
    
    float: left;
}