*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}.navbar{
    width: 100%;
    height: 50px;
    content: " ";
    display: block;
    clear: both;
    }
.logo{
    width: 50%;
    height: 50px;
    float: left;
}
.iceland{
    float: right;
}
.container {
    border: solid black;
    width:80%;
    height: 350px;
    margin: 0;
    padding: 5px;
    content :" ";
    display: block;
    clear: both;
}
.iceland3 {
    width: 50%;
    height: 300px;
    float:left;
   

}
.iceland1{
    width: 50%;
    height: 300px;
    float: right;
}

.iceland1 img{
    float:right;
    size-adjust: 100px;
}
}
#value{
    background-color: pink;
}
#northern{
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    padding: 0 10px;
    border-bottom: 2px solid black;
}
div img{
    border: solid black 2px;width: 30%;
    float: left;overflow-wrap:;
   
}
div text{
    background-color:lightslategray ;border: 2px solid black;
text-align: justify center;
float: left;
font-size: small;
}
#three{
    border-bottom: solid black 2px ;height: 50px;
    padding-bottom: 5px;
}
flex{
    float: left;
}
